@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#menu {
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 47px;
  min-width: 700px;
  align-items: center;
  font-size: 16px;
}
.a-menu {
  text-decoration: none;
  padding: 14px;
  color: white;
  font-weight: bold;
  transition: background .3s;
}
.a-menu:hover {
  background-color: #006050;
}
/* - ESTILO PARA O RODAPÉ - */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    font-family: 'Calibri, Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    background-color: #212227;
}

#page1 {
  flex: 1;
  font-family: 'Calibri, Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#nav1{
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 9vh;
  align-items: center;
}
#container-logo1{
  flex: 0.6;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#ctn-logo1{
  flex: 0.1;
  background-color: #212227;
}
#ctn-vazio1{
  flex: 0.5;
  background-color: #212227;
}
#container-links1{
  flex: 0.4;
  display: flex;
  flex-direction: line;
  background-color: #212227;
  justify-content: space-around;
}
.ativo1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  font-size: 1.4rem;
}
.inativo1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#58595b;
  background-color: #212227;
  font-size: 1.4rem;
}
.span-menu:hover{
  color:white;
}
#container-main{
  height: 91vh;
  flex: 11;
  display: flex;
  flex-direction: column;
  background-color: #212227;
}
#separador{
  height: 0.1vh;
  background: #d8a068;
}
#container-imagens{
  margin-top: 5vh;;
  flex: 9;
  display: flex;
}
#container-rodape{
  flex: 0.9;
  display: flex;
  justify-content: space-between;
}
.txt-large{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  font-size: 10vh;
  text-align: left;
}
#ctn-texto{
  flex: 2;
  display: flex;
  justify-content: space-around;
}
#ctn-imagens{
  flex: 4;
  display: flex;
  justify-content: space-between;
}
#container-texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  gap: 3vh;
}
#txt-item{
  color:white;
  font-size: 2vh;
  font-weight: 600;
  text-align: left;
  margin-left: 0.5vw;;
}
#learn-more{
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-left: 0.5vw;;
}
#traco{
  height: 0.3vh;
  width: 2vw;
  background: #d8a068;
}
#learn{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#d8a068;
  font-size: 2vh;
  font-weight: 600;
  text-align: left;
}
#quadrados{
  display: flex;
  align-items: center;
  margin-left: 2vw;
  gap: 0.8vw;
}
#paginas{
  display: flex;
  align-items: center;
  margin-left: 2vw;
  gap: 0.8vw;
}
#pag-de-total{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2vh;
  color: #535353;
}
#traco-rodape{
  height: 0.1vh;
  width: 3vw;
  background: #d8a068;
}
#sinal-maior{
  margin-top: 0.5vh;
  margin-right: 3vw;
}
